.wrapper {
    padding: 0;
    border: 1px solid;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: calc(100vh - 80px);
}

.top {
    background-color: #aaaaaa;
    height: 60px;
}

.textarea {
    height: calc(100% - 60px);
}